<!-- UUID: 982401A7-85F5-48AA-A2E6-D88A0960758D -->
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <style>
        body { padding: 25px 50px; }
        button { width: 100px; }
    </style>
</head>
<body>
<!-- 测试 form 的不同 method，default HTML form 不支持 put and delete 。
为了发送 PUT, DELETE请求，在 form 里添加一个隐藏域 _method 表明发送 PUT, DELETE 请求，使用 POST 提交。
-->

<form action="/rest" method="get">
    <button type="submit">Get</button>
</form>

<form action="/rest" method="post">
    <button type="submit">Post</button>
</form>

<form action="/rest" method="post">
    <input type="hidden" name="_method" value="put"/>
    <button type="submit">Put</button>
</form>

<form action="/rest" method="post">
    <input type="hidden" name="_method" value="delete"/>
    <button type="submit">Delete</button>
</form>
</body>
</html>